header{
    width: 50%;
    margin: 0 auto;
    h1{
        font-family: $baseFont;
        font-size: $biggestFont;
        background: $sixthColor;
        color: $ninethColor;
        border-radius: 50px;
        text-align: center;
        padding: 15px 40px;
    }
}