form{
    .nameContainer,
    .mobileContainer,
    .doctorContainer,
    .emergencyContainer,
    .pillContainer{
        background: $fifthColor;
        font-family: $baseFont;
        font-size: $regularFont;
        background: $eighthColor;
        color: $seventhColor;
        text-align: center;
    }
}

.listContainer li{
    background: $fifthColor;
    font-family: $baseFont;
    font-size: $smallFont;
    background: $eighthColor;
    color: $ninethColor;
    text-align: center;
    padding: 5px;
}

ul{
    list-style-type: circle;
    padding-bottom: 100px;
}

input{
    margin: 18px auto;
}

input[type="submit"]{
    color: $eighthColor;
    background: $fifthColor;
    border: 1px solid $fifthColor;
    border-radius: 50px;
    text-align: center;
    padding: 15px 40px;
}

.completed {
    background: $fourthColor;
    border-radius: 50px;
    border: 1px solid $fourthColor;
    text-align: center;
}
